@* This view allows lecturers to upload supporting documents for their claims *@
@model dynamic

@{
    ViewData["Title"] = "Upload Documents";
}

<h2>Upload Supporting Documents</h2>
<form>
    <input type="file" name="Document" /><br /><br />
    <button type="submit">Upload Document</button>
</form>
